@import "../../../../styles/index/_variable";
@import "../../../../styles/index/_button";
$r:32;
.panel.window.#{em-nav-window}.panel-htop /deep/ {
  .el-menu.el-menu--horizontal {
    border-bottom: none;
  }
}

.window .window-body {
  /*border-width:0;*/
}

ul.el-menu-demo.em-nav-menu.el-menu--horizontal.el-menu /deep/ {
  li.el-menu-item {
    background: url("../../../../assets/image/nav_border.png") no-repeat center;
    background-size: 100% 100%;
    margin-right: 20/$r+rem;
    height: 40/$r+rem;
    line-height: 40/$r+rem;
    color: #fff;
    font-size: 15/$r+rem;
    &.is-active {
      border-image-source: url("../../../../assets/image/nav_hover.png");
      border-bottom: 1px solid transparent;
      border-image-outset: 20;
      border-image-width: 20px;
      border-image-slice: 0 0 30 0;
      margin-bottom: 40px;
      opacity: 0.8;

    }
  }
}
@media screen and (max-width:1025px){
  .panel.window.em-nav-window.panel-htop {
    top: 91.5% !important;
  }
  li.el-menu-item.is-active{
    border-image-outset:24 !important;
  }
}
@media screen and (min-width:1025px) and (max-width:1280px){
  li.el-menu-item.is-active{
    border-image-outset:24 !important;
  }
}
@media screen and (min-width:1281px) and (max-width:1440px){
  li.el-menu-item.is-active{
    border-image-outset:10 !important;
    border-bottom: 2px solid transparent !important;
  }
}
@media screen and (min-width:1441px) and (max-width:1680px){
  li.el-menu-item.is-active{
    border-image-outset:14!important;
    border-bottom: 2px solid transparent !important;
  }
}
@media screen and (min-width:1681px) and (max-width:1920px){
  li.el-menu-item.is-active{
    border-image-outset:10 !important;
    border-bottom: 2px solid transparent !important;
  }
}
@media screen and (min-width:1921px){
  li.el-menu-item.is-active{
    border-bottom: 2px solid transparent !important;
  }
}
