@import "../../styles/index/variable";
$r:32;
.treeForm {
  position: relative;
  height: 100%;
  overflow-y: auto;
  .el-tree {
    position: relative;
    cursor: default;
    background: unset;
    color: #fff;
    min-width: 180px;
    max-height:400px;
    overflow:auto ;
  }
  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding-right: 4px;
  }
  .head_title{
    color: $color-base;
    padding-left: 14/$r+rem;
    font-size: 14/$r+rem;
    height: 30/$r+rem;
    line-height: 30/$r+rem;
    margin-top: 0;
    background:rgba(6, 15, 29, 0.9);
  }
  .box-card{
    height: 96%;
    margin-top: 2%;
    border-color: rgba(255, 255, 255, 0.3);
    background: rgba(20, 31, 55, 0.8);
  }
  .el-card.is-always-shadow{
    box-shadow: 0 2px 12px 0 rgba(255,255,255,.3);
  }
}
