$r:32;
.complex_em_input{
 float: left;
 margin-right: 15/$r+rem;
}
/*下拉框*/
.el-input-group__prepend{
  background-color: darken(nth($background-base,2),10%);
  border-color: rgba(255, 255, 255, 0.3);
  width: 100px;
  padding-left: 20/$r+rem !important;
  color: rgba(255,255,255,0.9);
}
/*Firefox and IE*/
.el-input-group--prepend .el-input__inner{
  padding: 0 5px !important;
  width: 100px;
  height: 30/$r+rem;
  line-height: 30/$r+rem;
}
/*监测点下拉选择框*/
.monitor_point /deep/{
  .el-input--suffix .el-input__inner{
    height: 30/$r+rem !important;
    margin: 5px 0 5px 0;
  }
}
.el-select-dropdown{
  background: nth($background-base,3);
  border-image: linear-gradient(nth($background-base,2),nth($background-base,1));
  border-image-slice: 20;
}
.el-select-dropdown__item{
  color: rgba(255,255,255,0.8);
  &.hover, &:hover{
    background-color: lighten(nth($background-base,2),5%);
    color: $color-base;
  }
}

.el-select .el-input .el-select__caret{
  line-height: inherit;//下拉框图标垂直居中显示
}

@media screen and (min-width:1281px) and (max-width:1440px){
  .el-input-group__prepend{
    padding-left: 30/$r+rem !important;
  }
}
