$r:32;
.el-input--suffix .el-input__inner{
  font-size: 14/$r+rem !important;
}
/*时间显示框*/
.data_pick /deep/{
  .el-input--prefix .el-input__inner{
    height: 30/$r+rem !important;
    margin: 5px 0 5px 0;
  }
}
.operation{
  .el-input__inner{
    height: 30/$r+rem;
  }
  .em_input{
    //日志查看部分
    .el-input__inner{
      width: 160/$r+rem;
      margin-left:10/$r+rem;
    }
  }
}
