@import "../../styles/index/_variable";
.window .window-body{
  border-width: 0;
}
.el-menu{
  background: transparent;
  border: none;
}
.el-menu.el-menu--horizontal{
  border: none;
}

.el-menu-item i{
  color: rgba(255,255,255,0.8);//menu-item icon颜色
}
