$r:32;
.el-pagination__total,.el-input__inner,.el-pagination__jump,.el-pagination button:disabled,.el-pager li,.el-pagination .btn-prev, .el-pagination .btn-next{
  color: #fff;
  font-size: 14/$r+rem !important;
}

.el-input__inner{
  background: $background-pagination--inner;
  border-color: rgba(255,255,255,0.5);
  &:focus{
    border-color: $border-color-base;
  }
}
.el-input__suffix{
  color: rgba(255,255,255,0.5);
}
.el-pagination button:disabled,.el-pager li,.el-pagination .btn-prev, .el-pagination .btn-next{
  background: $background-pagination--inner;
}
li.number.active{
  color: rgba(255,255,255,0.3);
}
.el-pager li{
  min-width: 20.5px;
}
.el-pager li:hover,.el-select-dropdown__item.selected,.el-pagination button:hover{
  color: $color-base;
}
.el-pagination__sizes .el-input .el-input__inner:hover,.el-select .el-input.is-focus .el-input__inner,.el-select .el-input__inner:focus{
  border-color: $border-color-base;
}

@media screen and (min-width:1921px) {
  .el-pagination{
    margin-top: 5/$r+rem;
  }
}
@media screen and (min-width:1281px) and (max-width:1440px){
  .el-pagination{
    margin-top: 20/$r+rem;
  }
}
