$r:32;
.operation.el-row{
  line-height: 40/$r+rem;//设置高度后按钮所需宽度超过父级宽度时会被遮挡，应该换行显示
}
.#{table-classification}{
  overflow: auto;
  background: $background-table-classification;
  color: #ccc;
  text-align: left;
  border-right: 1px solid rgba(255,255,255,0.5);
  p{
    color: #fff;
    margin: 5px;
    font-size: 16/$r+rem;
    text-indent: 5px;
  }
  li{
    padding: 4/$r+rem;
    font-size: 14/$r+rem;
    position: relative;
    &:after{
      content: "";
      width: 0;
      height: 2px;
      background: rgba(255,255,255,0.6);
      position: absolute;
      top: 100%;
      left: 50%;
      transition: all .4s;
    }
    &:hover:after{
      left: 0;
      width: 100%;
    }
    &:hover{
     color: $color-base;
     cursor: pointer;
    }
  }
}
.#{table-container}{
  background: $background-table-container;
  padding-left: 5/$r+rem;
  padding-right: 5/$r+rem;
}
.el-table--border{
  border-color: transparent;
  &::after{
    background-color:rgba(255,255,255,0.4);//表格之外右边的边框线
  }
}
.el-table{
  background: $background-linear-base;
  &::before{
    background-color:rgba(255,255,255,0.4);//表格之外下方的边框线
  }
}
.el-table__fixed::before, .el-table__fixed-right::before{
  height:0;//表格之外行号列下方的边框线
}
.el-table__body-wrapper{
  overflow: auto;
}
.el-table th{
  background: $background-table-thead;
  color: rgba(255, 255, 255, 0.6);
}
.el-table tr{
  background-color: $background-table-tbody;
  color: rgba(255, 255, 255, 0.8);
}

.el-table__body tr:hover>td{
  background-color:$background-hover-tbody;
  color: rgba(255, 255, 255, 1);;
}

.el-table__body tr.current-row>td,.el-table__row--striped.current-row td{
  background-color: darken($background-hover-tbody,20%);
}

.el-table th, .el-table td{
  padding:5/$r+rem 0;
  border-color: rgba(255,255,255,0.3) !important;
  font-size: 14/$r+rem;
}
.el-table th.is-leaf, .el-table td{
  border-color: rgba(255,255,255,0.5);
}
.el-table__body tr.hover-row>td,.el-table__body tr.hover-row.current-row>td,
.el-table__body tr.hover-row.el-table__row--striped>td,.el-table__body tr.hover-row.el-table__row--striped .current-row>td{
  background-color:$background-hover-tbody;
}
/*行号*/
td.el-table_1_column_1.is-center,th.el-table_1_column_1.is-center.is-leaf{
background:darken(nth($background-base,3),5%);
}
.el-table thead th{
  border-right:1px dotted #fff;
}

.el-table .cell{
  white-space: nowrap;//不换行，否则会把行高撑开
}
.el-table td div{
  text-align: left; //td左对齐
}
/*tbody行内复选框*/
.el-checkbox__input.is-checked .el-checkbox__inner,.el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color:(nth($background-base,3));
  border-color: $border-color-base;
}
.el-checkbox__inner:hover,.el-checkbox__input.is-focus .el-checkbox__inner{
  border-color: darken($border-color-base,15%);
}
.el-table--border td{//表格调整列宽
  border-right: none;
}

@media screen and (min-width:1921px) {
  .el-table {
    height: calc(100% - 100px) !important;
  }
}
@media screen and (min-width:1281px) and (max-width:1440px){
  .operation.el-row{
    height: 60/$r+rem;
    line-height: 60/$r+rem;
  }
}
