.el-dialog{
  border-image-source: url("../../assets/image/tableDialog-border.png");
  border-image-width: 500px;
  border-image-slice: 340;
  border-image-outset: 10;
  border-image-repeat: round;
  //background: transparent;
}
