.el-upload__tip,.el-upload-list__item-name,.el-upload-list__item-name [class^="el-icon"]{
  color: rgba(255,255,255,0.7);
}
.el-upload-list__item:hover{
  background: rgba(255,255,255,0.3);
  .el-icon-close{
    color: rgba(255,255,255,0.7);
  }
}
