@import "../../../../styles/index/variable";
$r:32;
.el-menu.el-menu--horizontal{
  border: none;
}
.el-menu-item {
  background: url("../../../../assets/image/menu_item.png") no-repeat center;
  /*box-shadow: inset -2px 0px 20px 3px rgba(20, 31, 55, 0.8), inset 1px 0px 9px 13px rgba(216, 187, 55, 0.8);
  -webkit-box-shadow: inset -2px 0px 20px 3px rgba(20, 31, 55, 0.8), inset 1px 0px 9px 13px rgba(216, 187, 55, 0.8);;*/
  height: 30px;
  background-size: 100% 100%;
  line-height: 25px;
  margin-top: 10px;
  color: #e1e0e0;
  padding-left: 10px !important;
  padding-right: 10px;
  font-size: 14/$r+rem;
  &:hover {
    color: $color-base;
    opacity: 0.8;
    transition: all .1s;
  }
  &:focus,&:hover {
    background-color: transparent;
  }
  &.is-active {
    color: $color-base;
  }
}
