@import "variable";

$r: 32;
/*气泡按钮*/
.#{em-btn-bubbles} {
  background: $background-linear-base;
  color: #fff;
  border-color: $border-color-base;

  &:hover, &:focus {
    -webkit-animation: bubbles 2s forwards ease-out;
    animation: bubbles 3s forwards ease-out;
    background: $btn-hover-bubbles;
    background-color: $background-linear-base;
    background-repeat: no-repeat;
    border-color: $border-color-base;
  }
}

@-webkit-keyframes bubbles {
  100% {
    background-position: 92% -220%, 31% -185%, 24% 6%, 16% -328%, 39% -366%, 110% -375%, 5% -60%, 59% -365%, 41% -363%, 82% -8%, 37% -224%;
    box-shadow: inset 0 -6.5em 0 $btn-background-hover;
  }
}

/*按钮结合图标悬停效果*/
.#{em-btn-icon-hover} {
  background: $background-linear-base;
  border-color: $border-color-base;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  color: #fff;
  text-align: center;
  display: inline-block;
  position: relative;
  text-transform: capitalize;
  padding: 12px 0px;
  width: 90px;
  border-radius: 6px;
  overflow: hidden;

  &:before {
    content: "\27A4";
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 6px 6px 0;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    text-align: center;
  }

  &:hover {
    text-indent: -30px;
  }

  &:hover:before {
    right: 0;
    text-indent: 0;
  }
}

/*按钮边框滑动效果*/
.#{em-btn-border-animation} {
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
  max-width: 80px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 12px 10px;

  &:hover {
    text-decoration: none;
  }

  &.svg-style {
    background: transparent;
    text-align: center;
    border: none;

    & svg {
      height: 30px;
      left: 0;
      position: absolute;
      top: 4px;
      width: 100%;
    }

    rect {
      fill: none;
      stroke: $border-color-base;
      stroke-width: 3;
      stroke-dasharray: 422, 0;
      transition: all 450ms linear 0s;
    }

    &:hover {
      background: rgba(225, 51, 45, 0);
      font-weight: 900;
      letter-spacing: 1px;
      color: #bbb;
      transition: all 150ms linear 0s;
    }

    &:hover rect {
      stroke-width: 5;
      stroke-dasharray: 15, 310;
      stroke-dashoffset: 48;
      -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

/*对角边框*/
.#{em-btn-diagonal-borders} {
  margin-top: 20px;
  padding: 0px 25px;
  border: none;
  background: transparent;
  color: #fff;
  width: auto;
  float: right;
  position: relative;
  line-height: 45px;
  cursor: pointer;
  margin-right: 2em;

  &:hover,
  &:active {
    background-color: transparent;
    color: #56c5ff;
  }
}

.em-btn-diagonal-borders span {
  position: absolute;
  background-color: #56c5ff;
  display: block;
  transition: all 200ms;
}

.em-btn-diagonal-borders .line1,
.em-btn-diagonal-borders .line3 {
  height: 2px;
  width: 20px;
}

.em-btn-diagonal-borders .line2,
.em-btn-diagonal-borders .line4 {
  height: 20px;
  width: 2px;
}

.em-btn-diagonal-borders .line1,
.em-btn-diagonal-borders .line2 {
  top: 0;
  right: 0;
}

.em-btn-diagonal-borders .line3,
.em-btn-diagonal-borders .line4 {
  bottom: 0;
  left: 0;
}

.em-btn-diagonal-borders.reverse .line1,
.em-btn-diagonal-borders.reverse .line3 {
  width: 100%;
}

.em-btn-diagonal-borders.reverse .line2,
.em-btn-diagonal-borders.reverse .line4 {
  height: 100%;
}

.em-btn-diagonal-borders:hover .line1,
.em-btn-diagonal-borders:active .line1,
.em-btn-diagonal-borders:hover .line3,
.em-btn-diagonal-borders:active .line3 {
  width: 100%;
}

.em-btn-diagonal-borders:hover .line2,
.em-btn-diagonal-borders:active .line2,
.em-btn-diagonal-borders:hover .line4,
.em-btn-diagonal-borders:active .line4 {
  height: 100%;
}

.em-btn-diagonal-borders:hover.reverse .line1,
.em-btn-diagonal-borders:active.reverse .line1,
.em-btn-diagonal-borders:hover.reverse .line3,
.em-btn-diagonal-borders:active.reverse .line3 {
  width: 20px;
}

.em-btn-diagonal-borders:hover.reverse .line2,
.em-btn-diagonal-borders:active.reverse .line2,
.em-btn-diagonal-borders:hover.reverse .line4,
.em-btn-diagonal-borders:active.reverse .line4 {
  height: 20px;
}

/*hover按钮*/
.em-btn-hover {
  position: relative;
  font-weight: 400;
  text-align: center;
  width: auto;
  float: left;
  padding: 0 25px;
  line-height: 45px;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
  color: #FFF;
  border: 1px solid $border-color-base;

  &.raised {
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    background: $background-linear-base;
    border-radius: 5px;

    &:active {
      background: #515151;
      box-shadow: 0px 1px 1px #063e6b;
    }
  }
}

.hoverable .em-btn-hover-animation, .hoverable .em-btn-hover-animation:after {
  animation-iteration-count: infinite;
  animation-duration: 1.3s;
}

.em-btn-hover-animation {
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  &:before {
    position: relative;
    content: '';
    display: block;
    margin-top: 100%;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 70%;
  }
}

.clickable .toggle:checked + .em-btn-hover-animation {
  -moz-animation: anim-in 0.75s;
  -webkit-animation: anim-in 0.75s;
  animation: anim-in 0.75s;

  &:after {
    -moz-animation: anim-in-pseudo 0.75s;
    -webkit-animation: anim-in-pseudo 0.75s;
    animation: anim-in-pseudo 0.75s;
  }
}

.clickable .toggle:not(:checked) + .em-btn-hover-animation {
  -moz-animation: anim-out 0.75s;
  -webkit-animation: anim-out 0.75s;
  animation: anim-out 0.75s;

  &:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
  }
}

.hoverable:hover > .em-btn-hover-animation {
  -moz-animation: anim-out 0.75s;
  -webkit-animation: anim-out 0.75s;
  animation: anim-out 0.75s;

  &:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
  }
}

@-webkit-keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}

@-webkit-keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}


/*悬停时都变色*/
.em-btn-gradient {
  display: inline-block;
  //line-height: 35px;
  /* margin: 8px;
   padding: 0 15px;*/
  font-size: 15/$r+rem;
  position: relative;
  opacity: .999;
  border-radius: 3px;
}

.em-btn-uniform-gradient {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #B8B8B8;

  &:before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
    top: -1px;
    left: 0;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
  }

  &:after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
    top: 0;
    left: -1px;
  }

  &:before, &:after {
    content: '';
    border-style: solid;
    position: absolute;
    z-index: 5;
    border-radius: 3px;
    box-sizing: content-box;
  }

  &:hover:before {
    width: 100%;
  }

  &:hover:after {
    height: 100%;
  }

  &:before, &:after {
    border-color: $border-color-base;
  }

  &:hover {
    color: $color-base;
    border-color: $border-color-base;
  }
}

.em-btn-gradient, .em-btn-uniform-gradient:before, .em-btn-uniform-gradient:after {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}


/*阴影按钮*/
.#{em-btn_shadow} {
  font: 18px/1em 'Droid Sans', sans-serif;
  font-weight: bold;
  border: none;
  text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: .5em .6em .4em .6em;
  display: inline-block;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: background .2s ease-in-out;
  -moz-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  color: hsl(0, 0%, 40%) !important;
  background-color: hsl(0, 0%, 75%);

  &:hover {
    background-color: hsl(0, 0%, 83%);
  }

  &.#{em-btn_shadow2} {
    color: hsl(49, 67%, 23%) !important;
    background-color: hsl(49, 67%, 53%);
    box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em,
    inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, /* inner shadow */
    hsl(49, 67%, 40%) 0 .1em 3px, hsl(49, 67%, 25%) 0 .3em 1px,
      /* color border */
    rgba(0, 0, 0, 0.2) 0 .5em 5px;

    &:hover {
      background-color: hsl(49, 67%, 68%);
    }
  }
}


/*box-shadow*/
.offset {
  --color-offset: rgba(21, 189, 244, 0.8);
  --hover-offset: rgba(50, 219, 223, 0.8);
  -webkit-box-shadow: 0.3em 0.3em 0 0 var(--color-offset), inset 0.3em 0.3em 0 0 var(--color-offset);
  box-shadow: 0.3em 0.3em 0 0 var(--color-offset), inset 0.3em 0.3em 0 0 var(--color-offset);
  width: 80px;
  height: 30px;
  background: transparent;
  color: #fff;

  &:hover, &:focus {
    box-shadow: 0 0 0 0 var(--hover-offset), inset 6em 3.5em 0 0 var(--hover-offset);
  }
}

/*btn-border top and bottom*/
.#{btn_border} {
  background: $background-linear-base;
  color: rgba(255, 255, 255, 0.7);
  width: 70/$r+rem;
  border: none;
  position: relative;
  height: 30/$r+rem;
  font-size: 14/$r+rem;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: nth($background-base, 1);
    transition: 400ms ease all;
  }

  &:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }

  &:hover {
    background: nth($background-base, 2);
    color: $color-base;
  }

  &:hover:before, &:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }
}


/*质感操作按钮*/
.el-button.#{em-btn-simple} {
  font-size: 14/$r+rem;
  margin-left: 10/$r+rem;
  background:-ms-linear-gradient(#869190 50%,#0A0F0B 50%);//IE
  background: -webkit-gradient(linear, 0 0,0 100%, from(#afbdc0), to(#0a0809), color-stop(0.5, #6d7673), color-stop(0.5, #0a0f0b));
  border: none;
  border-radius: 20px;
  -moz-box-shadow: 0 0 7px rgba(255, 255,255, 0.8);
  -webkit-box-shadow: 0 0 7px rgba(255, 255,255, 0.5);
  box-shadow: 0 0 7px rgba(255, 255,255,0.5);
  color: rgba(255,255,255,0.8);
  padding: 5/$r+rem 10/$r+rem;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  &:active,&:hover,&:focus{
    background:-ms-linear-gradient(#869190 50%,#0A0F0B 50%);//IE
    background: -webkit-gradient(linear, left bottom, left top, from(#0a0809), to(#afbdc0), color-stop(0.5, #0a0f0b), color-stop(0.5, #6d7673));
    color: $color-base;
    box-shadow: 0 0 7/$r+rem $border-color-base;
    outline: none;
  }
}


