.em-nav-item-text*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.em-nav {
  overflow: hidden;
  float: right;
  right: 20px;
  bottom: 70px;
  width: auto;
  height: 60px;
  //background:linear-gradient(rgba(216, 187, 55, 0.8),rgba(20, 31, 55, 0.5));
  border-radius: 5px;
  -webkit-transform: translate3d(1%, 0, 0);
  transform: translate3d(1%, 0, 0);
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
}
.em-nav-cb {
  z-index: -1000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
}
.em-nav-content {
  position: relative;
  width: 60px;
  height: 100%;
  -webkit-transition: width 1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
  transition: width 1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
}
.em-nav-cb:checked ~ .em-nav-content {
  -webkit-transition: width 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
  transition: width 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
  background: url(../../assets/image/tool.bg2.png) no-repeat;
  width: 450px;
}
.em-nav-items {
  display: inline-flex;
  position: relative;
  width: 450px;
  height: 100%;
  padding-right: 45px;
  padding-left: 25px;
  list-style-type: none;
  font-size: 0;
}
.em-nav-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #bbb;
  font-size: 14px;
  line-height: 60px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}
.em-nav-item:hover {
  color: #fff;
}
.em-nav-item-text {
  display: block;
  height: 100%;
  -webkit-transform: rotateY(-70deg);
  transform: rotateY(-70deg);
  opacity: 0;
  -webkit-transition: opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
  transition: opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.7s;
  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
}

.em-nav-cb:checked ~ .em-nav-content .em-nav-item-text {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  opacity: 1;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
  transition: opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.2s;
  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
}
.em-nav-item:nth-child(1) .em-nav-item-text {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
.em-nav-cb:checked ~ .em-nav-content .em-nav-item:nth-child(1) .em-nav-item-text {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.em-nav-item:nth-child(2) .em-nav-item-text {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.em-nav-cb:checked ~ .em-nav-content .em-nav-item:nth-child(2) .em-nav-item-text {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.em-nav-item:nth-child(3) .em-nav-item-text {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.em-nav-cb:checked ~ .em-nav-content .em-nav-item:nth-child(3) .em-nav-item-text {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.em-nav-item:nth-child(4) .em-nav-item-text {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.em-nav-cb:checked ~ .em-nav-content .em-nav-item:nth-child(4) .em-nav-item-text {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.em-nav-item:nth-child(5) .em-nav-item-text {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.em-nav-cb:checked ~ .em-nav-content .em-nav-item:nth-child(5) .em-nav-item-text {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.em-nav-item:nth-child(6) .em-nav-item-text {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.em-nav-cb:checked ~ .em-nav-content .em-nav-item:nth-child(6) .em-nav-item-text {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.em-nav-item:nth-child(7) .em-nav-item-text {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.em-nav-cb:checked ~ .em-nav-content .em-nav-item:nth-child(7) .em-nav-item-text {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.em-nav-item:nth-child(8) .em-nav-item-text {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.em-nav-cb:checked ~ .em-nav-content .em-nav-item:nth-child(8) .em-nav-item-text {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
.em-nav-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  padding: 22px 17px;
  cursor: pointer;
  background: url(../../assets/image/tool_button.png) no-repeat;
  background-position-x: center;
}
.em-nav-btn:before, .em-nav-btn:after {
  content: "";
  display: block;
  width: 28px;
  height: 4px;
  border-radius: 2px;
  background: #bbb;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
  transition: background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
  transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s;
  transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
}
.em-nav-btn:before {
  margin-bottom: 10px;
}
.em-nav-btn:hover:before, .em-nav-btn:hover:after {
  background: #fff;
}
.em-nav-cb:checked ~ .em-nav-btn:before {
  -webkit-transform: translateY(7px) rotate(-225deg);
  transform: translateY(7px) rotate(-225deg);
}
.em-nav-cb:checked ~ .em-nav-btn:after {
  -webkit-transform: translateY(-7px) rotate(225deg);
  transform: translateY(-7px) rotate(225deg);
}
