/*按钮类名定义*/
$em-btn-bubbles:em-btn-bubbles;//气泡按钮类名

$em-btn-icon-hover:em-btn-Ricon-hover;//按钮结合图标悬停效果

$em-btn-water-splashed:em-btn-water-splashed;//水波纹效果

$em-btn-border-animation:em-btn-border-animation;//边框滑动效果

$em-btn-diagonal-borders:em-btn-diagonal-borders;//对角边框效果

$em-btn-hover:em-btn-hover;//hover按钮
$em-btn-hover-animation:em-btn-hover-animation;//hover按钮动画类型

$em-btn-gradient:em-btn-gradient;//悬停时都变色（随是同级类名，但是必须有）
$em-btn-uniform-gradient:em-btn-uniform-gradient;//悬停时都变色

$em-btn_shadow:em-btn_shadow; //立体感按钮
$em-btn_shadow2:em-btn_shadow2; //立体感按钮重叠类名

/*弹框 dialog*/
$em-dialog:em-dialog;
$em-dialog-header:em-dialog-header;
$em-dialog-body:em-dialog-body;
$em-dialog-footer:em-dialog-footer;

/*window-panel*/
$am-window:em-window;
$em-panel:em-panel;
$em-panel-header:em-panel-header;
$em-panel-body:em-panel-body;

/*window-nav*/
$am-window:em-nav-window;

/*bottom-window*/
$em-bottom-window:em-bottom-window;
/*menu-window*/
$em-menu-window:em-menu-window;

/*title-window*/
$em-title-window:em-title-window;

/*warn-window*/
$em-warn-window:em-warn-window;
$btn-warn:btn-warn;//警告按钮

/*em-risk-window*/
$em-risk-window:em-risk-window;//风险等级

/*标题*/
$title-container:title-container;

/*bottom-container*/
$em-bottom-container:em-bottom-container;

/*table-window*/
$em-table-window:em-table-window;

/*下拉菜单*/
$em-menu:em-menu;
$em-menu-item:em-menu-item;
$em-menu-item-icon:em-menu-item-icon; //下拉菜单前方的图标

/*表格*/
$em-table-window:em-table-window;
$em-table:em-table;
$em-table-header:em-table-header;
$em-table-body:em-table-body;
$table-container:table-classification;//表格左侧分类
$table-container:table-container;//表格右侧内容
/*分页*/
$em-pagination:em-pagination;
$em-pagers:em-pagers;//中间的1~5页码
$em-pagination-scroll:em-pagination-scroll;//上下翻页

/*导航主菜单*/
$em-navMenu:em-navMenu;
$em-navMenu-item:em-navMenu-item;

/*标签页*/
$em-tabs:em-tabs;
$em-tabs-header:em-tabs-header;//标签列表项
$em-tabs-content:em-tabs-content;//标签列表切换后显示的内容区域


/*fontFamily fontSize*/
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;

$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

/*font-color*/
$font-color-main:#303133; //主要文本颜色
$font-color-conventional: #606266; //常规文本颜色
$font-color-secondary: #909399;//次要文本颜色

/*base define*/
$background-base:#d8bb37 #141f37;
$background-linear-base:linear-gradient(nth($background-base,1),nth($background-base,2));
$color-base:#d8bb37;
$border-color-base:#d8bb37;

/*table*/
$background-table-base:rgba(20,31,55,0.5); /*table-window-background*/
$background-table-classification:rgba(20,31,55,1);//分类列表左边背景
$background-table-container:rgba(20,31,55,0.8);//分类列表左边背景
$background-table-thead:linear-gradient(rgba(216, 187, 55, 0.6), rgba(20, 31, 55, 0.8));//表头背景
$background-table-tbody:rgba(20,31,55,1);//tbody背景
$background-hover-tbody:rgba(216,187,55,0.5);//tbody背景


/*pagination*/
$background-pagination--inner:rgba(20, 31, 55, 0.5);//页码选择输入框背景；

/*button-background-color*/
$btn-background-hover:lighten(nth($background-base,1),50%);

/*button-hover-bubbles  气泡*/
$btn-hover-bubbles: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 90% 90% / 0.88em 0.88em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 23% 141% / 0.81em 0.81em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 17% 90% / 0.68em 0.68em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 15% 94% / 1.12em 1.12em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 42% 126% / 0.86em 0.86em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 102% 120% / 0.58em 0.58em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 12% 121% / 0.67em 0.67em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 69% 87% / 1.18em 1.18em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 32% 99% / 0.79em 0.79em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 84% 129% / 0.79em 0.79em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 40% 99% / 0.72em 0.72em;





