$r:32;
.panel-body{
  background-color: transparent;
  overflow: hidden;
}
.panel-title{
  color: $color-base;
  font-size: 15/$r+rem;
}
.panel-header{
  border-bottom: 2px solid $border-color-base;
}

