/*nav*/
.panel.window.#{em-nav-window}.panel-htop {
  background: unset;
  border: none;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1607 !important;
}


.panel.window.#{em-nav-window}.panel-htop /deep/ {
  .el-menu,.panel-body {
    background: unset;
    border:none;
    display: contents;
  }
}


/*title*/
.panel.window.#{em-title-window}.panel-htop {
  background: url("../../assets/image/title_bg.gif") no-repeat center;
  background-size: 100% 100%;
  border:none;
}
.panel.window.#{em-title-window}.panel-htop /deep/{
  .panel-body {
    background: unset;
  }
}

/*warn-button*/
.panel.window.#{em-warn-window}.panel-htop {
  background:unset;
  border:none;
}

/*risk-window风险等级*/
.panel.window.#{em-risk-window}.panel-htop {
  background:unset;
  border:none;
  text-align: right;
}

.panel.window.#{em-risk-window}.panel-htop /deep/{
  .panel-body {
    background: unset;
  }
}

/*menu-window*/
.panel.window.#{em-menu-window}.panel-htop{
  background: unset;
  border:none;
}
.panel.window.#{em-menu-window}.panel-htop /deep/{
  .el-menu,.panel-body{
     background: unset;
   }
  .el-menu{
    border-right: 0;
  }
}
