$r:32;
.el-button{
  width: 100px;
  height: 85px;
  border: none;
  color: rgba(255,255,255,1);
  font-weight: 900;
  span {
    margin-left: 17px;
    font-size: 15/$r+rem;
  }
}

em{
  position: absolute;
  top: -5px;
  line-height: 10px;
  font-size: 14/$r+rem;
  font-weight: 900;
  color: rgba(255, 255, 255,0.8);
  &.level_one{
    left: 80px;
  }
  &.level_two{
    left: 185px;
  }
  &.level_three{
    right: 75px;
  }
}
.btn-level-one{
  background: url("../../../../assets/image/level_one.png") no-repeat center;
}
.btn-level-two{
  background: url("../../../../assets/image/level_two.png") no-repeat center;
}
.btn-level-three{
  background: url("../../../../assets/image/level_three.png") no-repeat center;
}
